pathlib>=1.0
git+https://github.com/BalancerMaxis/bal_tools.git@fix/pin-web3-eth-brownie
requests==2.31.0
pandas
web3==6.15.1
dotmap
munch==4.0.0
gql[requests]
python-dotenv==0.16.0
json-fix
eth-abi==5.0.1
