name: Generate Addressbooks Deployments

on:
  schedule:
    - cron: "0 0 * * 3"
  workflow_dispatch:

jobs:
  refresh_books:
    runs-on: ubuntu-latest
    env:
      GRAPH_API_KEY: ${{ secrets.GRAPH_API_KEY }}
      DRPC_KEY: ${{ secrets.DRPC_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Update Files
        id: update
        run: |
          pip3 install -r bal_addresses/requirements.txt
          python3 gen_pools_and_gauges.py
          python3 gen_mono_addressbook.py
          python3 gen_addresses.py
          python3 gen_subgraph_urls.py
          rm -rf balancer-deployments
          git add -A

      - name: pull-request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Scheduled update to addressbooks deployments"
          title: "Scheduled update to addressbooks deployments"
          branch: "gha-addressbook"
          reviewers: "Tritum-VLK"
          assignees: "Tritum-VLK"
          labels: "Automatic"
