name: Generate Addressbooks Deployments
permissions:
  contents: read
  pull-requests: write

on:
  schedule:
    - cron: "0 0 * * 3"
  workflow_dispatch:

jobs:
  refresh_books:
    runs-on: ubuntu-latest
    env:
      GRAPH_API_KEY: ${{ secrets.GRAPH_API_KEY }}
    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ steps.app-token.outputs.token }}

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Update Files
        id: update
        run: |
          git clone https://github.com/balancer/balancer-deployments.git
          export DEPLOYMENTS_REPO_ROOT_URL=`pwd`/balancer-deployments
          pip3 install -r bal_addresses/requirements.txt
          python3 gen_pools_and_gauges.py
          python3 gen_mono_addressbook.py
          python3 gen_addresses.py
          python3 gen_subgraph_urls.py
          rm -rf balancer-deployments
          git add -A

      - name: pull-request
        id: create-pr
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.app-token.outputs.token }}
          commit-message: "Scheduled update to addressbooks deployments"
          title: "Scheduled update to addressbooks deployments"
          branch: "gha-addressbook"
          reviewers: "gosuto-inzasheru"
          labels: "Automatic"

      - name: Enable auto-merge
        if: steps.create-pr.outputs.pull-request-number
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: gh pr merge --auto --merge ${{ steps.create-pr.outputs.pull-request-number }}
